.error {
    color: firebrick;
}

.modal-body {
    height: 40vw;
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-direction: row;
}

.date {
    order: 1;
    flex-basis: 50%;
}

.time {
    order: 2;
    flex-basis: 50%;
}

datepicker {
    display: inline-block;
}
