<div>
    <table id="table" class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="col-sm-1"></th>
            <th>Name</th>
            <th>Code</th>
            <th class="col-sm-1">Actions</th>
        </tr>
        </thead>
        <tr *ngFor="let airline of airlines">
            <td class="col-sm-1"><img [src]="airline.imageUrl" height="50"></td>
            <td>{{airline.name}}</td>
            <td>{{airline.airlineCode}}</td>
            <td class="col-sm-1"><span class="action-icon glyphicon glyphicon-pencil"
                                       (click)="startEditing(airline)"></span></td>
        </tr>
    </table>
    <router-outlet></router-outlet>
</div>