<div class="error" *ngIf="showNoNavigateMessage">Unsaved changes.</div>
<div class="container">
    <div id="image">
        <img [src]="airline?.imageUrl || ''">
    </div>
    <div id="form">
        <form #form="ngForm">
            <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input type="text" class="form-control" id="name" required [ngModel]="airline?.name"
                       (ngModelChange)="airline.name = $event" name="name">
            </div>
            <div class="form-group">
                <label for="code" class="control-label">Code</label>
                <input type="text" class="form-control" id="code" required [ngModel]="airline?.airlineCode"
                       (ngModelChange)="airline.airlineCode = $event" name="code">
            </div>
        </form>
        <div class="pull-right">
            <button class="btn btn-default" (click)="navigateBack()">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="updateAirline()">Save
            </button>
        </div>
    </div>
</div>

